services:
  slskd:
    environment:
      - SLSKD_REMOTE_CONFIGURATION=true
      - SLSKD_USERNAME=${SLSKD_USERNAME}
      - SLSKD_PASSWORD=${SLSKD_PASSWORD}
      - SLSKD_SLSK_USERNAME=${SLSKD_USERNAME}
      - SLSKD_SLSK_PASSWORD=${SLSKD_PASSWORD}
    volumes:
      - ./slskd_docker_data/${APP_ENV}:/app:rw
      - ./slskd_docker_data/slskd.yml:/app/slskd.yml:ro
    ports:
      - 5030:5030/tcp
      - 5031:5031/tcp
      - 127.0.0.1:54300:50300/tcp
    user: 1000:1000
    image: slskd/slskd:latest
    restart: unless-stopped

  dashboard:
    build:
      context: .
      dockerfile: infra/Dockerfile.dashboard
    ports:
      - "8501:8501"
    environment:
      - APP_ENV=${APP_ENV}
      - HOST_BASE_PATH=${HOST_BASE_PATH}
      - SLSKD_BASE_URL=http://slskd:5030
      - TOKEN=${TOKEN}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
    volumes:
      - ./output:/app/output:rw
      - ./slskd_docker_data/${APP_ENV}/imported:/app/slskd_docker_data/${APP_ENV}/imported:rw
      - ./slskd_docker_data/${APP_ENV}/downloads:/app/slskd_docker_data/${APP_ENV}/downloads:ro
      - ./observability:/app/observability:rw
      - ./docs:/app/docs:ro
      - ./README.md:/app/README.md:ro
      - ./scripts:/app/scripts:ro
      - ./input_playlists:/app/input_playlists:ro
    depends_on:
      - slskd
    restart: unless-stopped

  workflow:
    build:
      context: .
      dockerfile: infra/Dockerfile.workflow
    environment:
      - APP_ENV=${APP_ENV}
      - SPOTIFY_CLIENT_ID=${SPOTIFY_CLIENT_ID}
      - SPOTIFY_CLIENT_SECRET=${SPOTIFY_CLIENT_SECRET}
      - TOKEN=${TOKEN}
      - SLSKD_BASE_URL=http://slskd:5030
      - HOST_BASE_PATH=${HOST_BASE_PATH}
      - PREFER_MP3=${PREFER_MP3}
    volumes:
      - ./output:/app/output:rw
      - ./input_playlists:/app/input_playlists:rw
      - ./slskd_docker_data/${APP_ENV}:/app/slskd_docker_data/${APP_ENV}:rw
      - ./observability:/app/observability:rw
      - ./scripts:/app/scripts:ro
    depends_on:
      - slskd
    restart: unless-stopped